CREATE TABLE IF NOT EXISTS public.hub_functions (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL UNIQUE,
    description TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE public.hub_functions ENABLE ROW LEVEL SECURITY;

-- Select Policy: Anyone authenticated
DROP POLICY IF EXISTS \
Hub
functions
are
viewable
by
authenticated
users.\ ON public.hub_functions;
CREATE POLICY \Hub
functions
are
viewable
by
authenticated
users.\
ON public.hub_functions FOR SELECT
USING ( auth.role() = 'authenticated' );

-- All other actions: Master Admin only
DROP POLICY IF EXISTS \Hub
functions
can
be
managed
by
master_admin.\ ON public.hub_functions;
CREATE POLICY \Hub
functions
can
be
managed
by
master_admin.\
ON public.hub_functions FOR ALL
USING ( is_master_admin() )
WITH CHECK ( is_master_admin() );
